DATABASE_URL=postgresql://openlend:openlend@localhost:5432/openlend
STELLAR_RPC=https://horizon-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_CONTROLLER=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQAHHAGK3YNS
PORT=4000
HOST=0.0.0.0
LOG_LEVEL=info
CORS_ORIGINS=*
